---
layout: default
title: Lain Doe
description: The personal blog and artistry space of Lain Doe.
---

<div class="profile-grid">

  <div class="column column-left">
    {% include profile.html %}
    {% include contact.html %}
    {% include media-player.html %}
    {% include interests.html %}
    {% include details.html %}
    {% include schools.html %}
  </div>

  <div class="column column-right">
    {% include funemployed.html %}
    {% include latest-posts.html %}
    {% include about-me.html %}
    {% include friends.html %}
    {% include comments.html %}
  </div>

</div>
